@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgb(6, 6, 6), rgb(34, 33, 34), rgb(22, 19, 35), rgb(9, 13, 24), rgb(15, 43, 44));
    column-gap: 30px;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form {
    position: absolute;
    border-radius: 6px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 430px;
    pointer-events: auto;

    .field {
        position: relative;
        height: 50px;
        width: 100%;
        margin-top: 20px;
        border-radius: 6px;

        input,
        button {
            height: 100%;
            width: 100%;
            border: none;
            font-size: 16px;
            font-weight: 400;
            border-radius: 6px;
        }

        input {
            outline: none;
            padding: 0 15px;
            border: 1px solid #CACACA;

            &:focus {
                border-bottom-width: 2px;
            }
        }

        button {
            background-color: #0171d3;
            color: #fff;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: #016dcb;
                color: #fff;
            }
        }
    }
}


.form-link {
    text-align: center;
    margin-top: 10px;

    span,
    a {
        font-size: 14px;
        font-weight: 400;
        color: 232836;
    }

    a {
        color: #0171d3;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #d4d4d4;
    margin: 36px 0;

    &::before {
        content: 'Or';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        color: #8b8b8b;
        padding: 0 15px;
    }
}

.media-options {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &.facebook {
            background-color: #4267b2;
            color: #fff;

            .facebook-icon {
                height: 28px;
                width: 28px;
                color: #0171d3;
                font-size: 20px;
                border-radius: 50%;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
            }
        }

        &.google {
            border: 1px solid #CACACA;

            
            .google-img {
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
                height: 20px;
                width: 20px;
                object-fit: cover;
            }

            span {
                font-weight: 500;
                opacity: 0.6;
                color: #232836;
            }
        }
    }
}


@media screen and (max-width: 400px) {
    .form {
        padding: 15px;
    }
}
