.projects-tile {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .projects-sort-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.2), 15px 6px 12px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        z-index: 98; 
        
        .projects-title {
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            margin-right: 5%;
        }

        .projects-sort-select {
            padding: 2px;
            width: 150px;
            border: none;
            cursor: pointer;
            outline: none;
            background: transparent;
            text-align: center;
        }

        .projects-sort-icon {
            padding: 5px;
            margin-left: 5%;
            cursor: pointer;
            transition: transform 1s ease;

            &.rotate {
                transform: rotate(180deg)
            }
        }
    }

    .projects-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1%;

        &.active {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        
        .project-link {
            text-decoration: none;
            color: inherit;
            width: auto;
            height: auto;
            padding: 5px;

            &.active {
                padding: 10px;
            }

            .project-container {
                padding: 2% 1%;
                width: 240px;
                text-align: center;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
                height: 110px;
            
                &:hover {
                    transform: scale(1.01);
                }                
            
                .project-title {
                    font-size: 15px;
                    padding: 2%;
                    font-weight: 800;
                    text-transform: capitalize;
                    position: relative;
                }
            
                .project-title::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    width: 80%;
                    height: 2px;
                    background-color: rgba(231, 231, 231, 0.5);
                }
            
                .project-contents {
                    padding: 4%;
                
                    .project-description {
                        font-size: 13px;
                    } 

                    .project-description::first-letter {
                        text-transform: capitalize;
                    }                    
                }        
            }
        }      
    }
}

@media (max-width: 500px) {

    .projects-title {
        display: none;
    }

    .projects-container {
        margin-top: 0 !important;
    }

    .project-link {
        width: 100% !important;
        padding: 5px !important;      
    }

    .project-container {
        width: 100% !important;       
    }
}



/* break for table view*/





.projects-list {
    min-height: 100%;
    width: 100%;
    align-items: center;
    padding: 1% 0.5%;

    .projects-title {
        font-size: 15px;
        font-weight: 600;
        padding: 1%;

        &.active {
            text-align: center;
        }
    }

    .projects-container {
        display: flex;
        width: 100%;
        height: auto;
        max-height: 100%;
        padding: 1%;

        .all-projects-table-container {
            height: 100%;
            width: 100%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

            table {
                width: 100%;
                border-collapse: collapse;

                th {
                    font-size: 14px;
                    width: calc(100% / 8);
                    padding: 1%;
                    text-align: left;
                    cursor: pointer;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }

                    &.active {
                        color: rgb(86, 86, 2);
                    }
                }

                .title-column,
                .project-title {
                    padding-left: 2.25%;
                }

                td {
                    font-size: 12px;
                    padding: 1%;
                    text-align: left;
                }

                i {
                    font-size: 13px;
                    transition: transform 1s ease;

                    &.rotate {
                        transform: rotate(180deg);
                    }

                    &.active {
                        color: rgb(86, 86, 2);
                    }
                }

                .project-title {
                    font-weight: 500;

                    .project-link {
                        cursor: pointer;
                        text-decoration: none;
                        color: inherit;

                        &:hover {
                            color: rgb(86, 86, 2);
                        }
                    }
                }
            }

            .projects-table-pagination {
                padding: 1%;
            }
        }
    }
}