.reports-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;
    min-height: 95vh;

    .reports-title {
        font-size: 15px;
        font-weight: 600;
        padding: 1%;

        &.active {
            display: none;
        }
    }

    .reports-sort-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1%;
        justify-content: space-evenly;
        border: 2px solid rgba(0, 0, 0, 0.143);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 255, 255);

        .reports-sort-select {
            padding: 2px;
            width: 150px;
            border: none;
            cursor: pointer;
            outline: none;
            background: transparent;
            text-align: center;
        }

        .reports-sort-icon {
            padding: 5px;
            margin-left: 5%;
            cursor: pointer;
            transition: transform 1s ease;

            &.rotate {
                transform: rotate(180deg)
            }
        }
    }

    .reports-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0 2%;
        margin: 1%;

        &.active {
            display: flex;
            width: 98%;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        
        .report-link {
            text-decoration: none;
            color: inherit;

            .report-container {
                padding: 2% 1%;
                border: 1px solid #ccc;
                background-color: rgb(255, 255, 255);
                width: calc(88vw/6);
                text-align: center;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                transition: transform 0.3s ease-in-out;
                margin: 3% 0;
                cursor: pointer;
                min-height: 200px;

                &.active {
                    width: calc(81vw/6);
                }
            
                &:hover {
                    transform: scale(1.01);
                }                
            
                .report-title {
                    font-size: 15px;
                    padding: 2%;
                    font-weight: 800;
                    text-transform: capitalize;
                    position: relative;
                }
            
                .report-title::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    width: 80%;
                    height: 2px;
                    background-color: rgba(231, 231, 231, 0.5);
                }
            
                .report-contents {
                    padding: 4%;
                    .report-name {
                        padding: 1%;
                        width: 100%;
                        display: grid;
                        grid-template-columns: 50% 50%;
                        font-size: 13px;
                
                        .report-left {
                            font-weight: 500;
                            text-align: left;
                            padding-left: 5%;
                        }
                
                        .report-right {
                            text-align: right;
                            padding-right: 5%;
                        }

                        .report-left::first-letter,
                        .report-right::first-letter {
                            text-transform: capitalize;
                        }
                    }
                }        
            }
        }      
    }
}



/* break for table view*/





.reports-list {
    min-height: 95vh;
    width: 100%;
    align-items: center;
    padding: 1% 0.5%;
    background-color: red;

    .reports-title {
        font-size: 15px;
        font-weight: 600;
        padding: 1%;

        &.active {
            text-align: center;
            margin-bottom: 8.75%;
        }
    }

    .reports-container {
        height: auto;
        max-height: 100%;
        padding: 1%;
        

        .all-reports-table-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            border: 1px solid #ccc;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

            table {
                width: 100%;
                border-collapse: collapse;

                th {
                    font-size: 14px;
                    width: auto;
                    min-width: 100px;
                    padding: 1%;
                    text-align: left;
                    cursor: pointer;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }

                    &.active {
                        color: rgb(86, 86, 2);
                    }
                }

                .type-column,
                .report-type {
                    padding-left: 2.25%;
                }

                .description-column {
                    width: 250px;
                }

                td {
                    font-size: 12px;
                    border-top: 1px solid #e5e2e2;
                    border-bottom: 1px solid #e5e2e2;
                    padding: 1%;
                    text-align: left;
                }

                i {
                    font-size: 13px;
                    transition: transform 1s ease;
                    color: rgb(255, 255, 255);

                    &.rotate {
                        transform: rotate(180deg);
                    }

                    &.active {
                        color: rgb(86, 86, 2);
                    }
                }

                .report-type {
                    font-weight: 500;

                    .report-link {
                        cursor: pointer;
                        text-decoration: none;
                        color: inherit;

                        &:hover {
                            color: rgb(86, 86, 2);
                        }
                    }
                }
            }

            .reports-table-pagination {
                padding: 1%;

                .pagination-content {
                    display: grid;
                    grid-template-columns: 50% 50%;

                    .pagination-pages {
                        display: flex;
                        font-size: 12px;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    
                    .pagination-buttons {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .page-button-left, 
                        .page-button-right {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 25px;
                            font-size: 12px;
                            border-radius: 5%;
                            border: 1px solid rgba(0, 0, 0, 0.143);
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
                            background-color: white;
                            cursor: pointer;
                            z-index: 1;
                            color: inherit;
                            padding: 1%;
                
                            &:hover {
                                color: rgb(86, 86, 2);
                                border: 1px solid rgb(86, 86, 2, 0.05);
                            }
                        }

                        .page-number {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 25px;
                            font-size: 12px;
                            border-radius: 5%;
                            border: 1px solid rgba(0, 0, 0, 0.143);
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
                            background-color: white;
                            z-index: 1;
                            color: inherit;
                            padding: 1% 2%;
                            margin: 1%;
                            cursor: pointer;

                            &:hover {
                                color: rgb(86, 86, 2);
                                border: 1px solid rgb(86, 86, 2, 0.05);
                            }
                        }

                        .page-input {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 25px;
                            font-size: 12px;
                            width: 10%;
                            border: 1px solid rgba(0, 0, 0, 0.143);
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
                            background-color: white;
                            z-index: 1;
                            color: inherit;
                            padding: 1% 2%;
                            margin: 1%;
                            cursor: pointer;
                            appearance: none;
                        }
                    }
                }
            }
        }
    }
}