.reports {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5%;
}
.reports .reports-title {
  font-size: 15px;
  font-weight: 600;
  padding: 1%;
}
.reports .reports-title.active {
  display: none;
}
.reports .reports-sort-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
  justify-content: space-evenly;
  border: 2px solid rgba(0, 0, 0, 0.143);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.reports .reports-sort-container .reports-sort-select {
  padding: 2px;
  width: 150px;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-align: center;
}
.reports .reports-sort-container .reports-sort-icon {
  padding: 5px;
  margin-left: 5%;
  cursor: pointer;
  transition: transform 1s ease;
}
.reports .reports-sort-container .reports-sort-icon.rotate {
  transform: rotate(180deg);
}
.reports .reports-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0 2%;
  margin: 1%;
}
.reports .reports-container.active {
  display: flex;
  width: 98%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.reports .reports-container .report-link {
  text-decoration: none;
  color: inherit;
}
.reports .reports-container .report-link .report-container {
  padding: 2% 1%;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  width: 14.6666666667vw;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease-in-out;
  margin: 3% 0;
  cursor: pointer;
  min-height: 200px;
}
.reports .reports-container .report-link .report-container.active {
  width: 13.5vw;
}
.reports .reports-container .report-link .report-container:hover {
  transform: scale(1.01);
}
.reports .reports-container .report-link .report-container .report-title {
  font-size: 15px;
  padding: 2%;
  font-weight: 800;
  text-transform: capitalize;
  position: relative;
}
.reports .reports-container .report-link .report-container .report-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: rgba(231, 231, 231, 0.5);
}
.reports .reports-container .report-link .report-container .report-contents {
  padding: 4%;
}
.reports .reports-container .report-link .report-container .report-contents .report-name {
  padding: 1%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 13px;
}
.reports .reports-container .report-link .report-container .report-contents .report-name .report-left {
  font-weight: 500;
  text-align: left;
  padding-left: 5%;
}
.reports .reports-container .report-link .report-container .report-contents .report-name .report-right {
  text-align: right;
  padding-right: 5%;
}
.reports .reports-container .report-link .report-container .report-contents .report-name .report-left::first-letter,
.reports .reports-container .report-link .report-container .report-contents .report-name .report-right::first-letter {
  text-transform: capitalize;
}/*# sourceMappingURL=reports.css.map */