.reports {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;

    .reports-title {
        font-size: 15px;
        font-weight: 600;
        padding: 1%;        

        &.active {
            display: none;
        }
    }

    .reports-container {
        display: grid;
        grid-template-columns: 50% 50%;

        &.active {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }  
    }
}