.issues {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;

    .issues-title {
        font-size: 15px;
        font-weight: 600;
        padding: 1%;

        &.active {
            display: none;
        }
    }

    .issues-sort-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border: 2px solid rgba(0, 0, 0, 0.143);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

        .issues-sort-select {
            padding: 2px;
            width: 150px;
            border: none;
            cursor: pointer;

            .project-select {
                
                &.active {
                    display: none;
                }
            }
        }

        .issues-sort-icon {
            padding: 5px;
            margin-left: 5%;
            cursor: pointer;
            transition: transform 1s ease;

            &.rotate {
                transform: rotate(180deg)
            }
        }
    }

    .issues-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0 2%;
        margin: 1%;

        &.active {
            display: flex;
            flex-wrap: wrap;
            width: 98%;
            justify-content: flex-start;
        }
        
        .issue-link {
            text-decoration: none;
            color: inherit;

            .issue-container {
                padding: 2% 1%;
                border: 1px solid #ccc;
                background-color: rgb(255, 255, 255);
                width: calc(88vw/6);
                text-align: center;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                transition: transform 0.3s ease-in-out;
                margin: 3% 0;
                cursor: pointer;

                &.active {
                    width: calc(81vw/6);
                }
            
                &:hover {
                    transform: scale(1.01);
                }                
            
                .issue-title {
                    font-size: 15px;
                    padding: 2%;
                    font-weight: 800;
                    text-transform: capitalize;
                    position: relative;
                }
            
                .issue-title::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    width: 80%;
                    height: 2px;
                    background-color: rgba(231, 231, 231, 0.5);
                }
            
                .issue-contents {
                    padding: 4%;
                    .issue-name {
                        padding: 1%;
                        width: 100%;
                        display: grid;
                        grid-template-columns: 50% 50%;
                        font-size: 13px;
                
                        .issue-left {
                            font-weight: 500;
                            text-align: left;
                            padding-left: 5%;
                        }
                
                        .issue-right {
                            text-align: right;
                            padding-right: 5%;
                        }

                        .issue-left::first-letter,
                        .issue-right::first-letter {
                            text-transform: capitalize;
                        }
                    }
                }        
            }
        }      
    }
}