.issues-tile {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .issues-sort-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.2), 15px 6px 12px 0 rgba(0, 0, 0, 0.2);
        z-index: 98;        
        width: 100%;

        .issues-title {
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            justify-content: flex-start;
            margin-right:  5%;
        }

        .issues-sort-select {
            padding: 2px;
            width: 150px;
            border: none;
            cursor: pointer;
            outline: none;
            background: transparent;
            text-align: center;

            .project-select {
                
                &.active {
                    display: none;
                }
            }
        }

        .issues-sort-icon {
            padding: 5px;
            margin-left: 5%;
            cursor: pointer;
            transition: transform 1s ease;

            &.rotate {
                transform: rotate(180deg)
            }
        }
    }

    .issues-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1%;

        &.active {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        
        .issue-link {
            text-decoration: none;
            color: inherit;
            width: auto;
            height: auto;
            padding: 5px;

            &.active {
                padding: 10px;
            }


            .issue-container {
                padding: 2% 1%;
                width: 240px;
                height: 155px;
                text-align: center;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
            
                &:hover {
                    transform: scale(1.01)!important;
                }                
            
                .issue-title {
                    font-size: 15px;
                    padding: 2%;
                    font-weight: 800;
                    text-transform: capitalize;
                    position: relative;
                }
            
                .issue-title::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    width: 80%;
                    height: 2px;
                    background-color: rgba(231, 231, 231, 0.5);
                }
            
                .issue-contents {
                    padding: 4%;
                    .issue-name {
                        padding: 1%;
                        width: 100%;
                        display: grid;
                        grid-template-columns: 50% 50%;
                        font-size: 13px;
                
                        .issue-left {
                            font-weight: 500;
                            text-align: left;
                            padding-left: 5%;
                        }
                
                        .issue-right {
                            text-align: right;
                            padding-right: 5%;
                        }

                        .issue-left::first-letter,
                        .issue-right::first-letter {
                            text-transform: capitalize;
                        }
                    }
                }        
            }
        }      
    }
}

@media (max-width: 500px) {

    .issues-title {
        display: none;
    }

    .issues-container {
        margin-top: 0 !important;
    }

    .issue-link {
        width: 100% !important;
        padding: 5px !important;      
    }

    .issue-container {
        width: 100% !important;       
    }
}


/* break for table view*/


.issues-list {
    min-height: 100%;
    width: 100%;
    align-items: center;
    padding: 1% 0.5%;

    .issues-title {
        font-size: 15px;
        font-weight: 600;
        padding: 1%;

        &.active {
            text-align: center;
        }
    }

    .issues-container {
        height: auto;
        max-height: 100%;
        padding: 1%;

        .all-issues-table-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

            table {
                width: 100%;
                border-collapse: collapse;

                th {
                    font-size: 14px;
                    width: auto;
                    min-width: 100px;
                    padding: 1%;
                    text-align: left;
                    cursor: pointer;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }

                    &.active {
                        color: rgb(86, 86, 2);
                    }
                }

                .title-column,
                .issue-title {
                    padding-left: 2.25%;
                }

                .description-column {
                    width: 250px;
                }

                td {
                    font-size: 12px;
                    padding: 1%;
                    text-align: left;
                }

                i {
                    font-size: 13px;
                    transition: transform 1s ease;

                    &.rotate {
                        transform: rotate(180deg);
                    }

                    &.active {
                        color: rgb(86, 86, 2);
                    }
                }

                .issue-title {
                    font-weight: 500;

                    .issue-link {
                        cursor: pointer;
                        text-decoration: none;
                        color: inherit;

                        &:hover {
                            color: rgb(86, 86, 2);
                        }
                    }
                }
            }

            .issues-table-pagination {
                padding: 1%;
            }
        }
    }
}