.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5%;
    height: 100%;

    .users-title {
        font-size: 15px;
        font-weight: 600;
        padding: 1%;

        &.active {
            display: none;
        }
    }

    .users-sort-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1%;
        justify-content: space-evenly;
        border: 2px solid rgba(0, 0, 0, 0.143);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 255, 255);

        .users-sort-select {
            padding: 2px;
            width: 150px;
            border: none;
            cursor: pointer;
            outline: none;
            background: transparent;
            text-align: center;
        }

        .users-sort-icon {
            padding: 5px;
            margin-left: 5%;
            cursor: pointer;
            transition: transform 1s ease;

            &.rotate {
                transform: rotate(180deg)
            }
        }
    }

    .users-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0 2%;
        margin: 1%;

        &.active {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 98%;
        }
        
        .user-link {
            text-decoration: none;
            color: inherit;

            .user-container {
                padding: 2% 1%;
                border: 1px solid #ccc;
                background-color: rgb(255, 255, 255);
                min-height: 120px;
                width: calc(88vw/6);
                text-align: center;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                transition: transform 0.3s ease-in-out;
                margin: 3% 0;
                cursor: pointer;

                &.active {
                    width: calc(99vw/6);
                }
            
                &:hover {
                    transform: scale(1.01);
                }                
            
                .user-name {
                    font-size: 15px;
                    padding: 2%;
                    font-weight: 800;
                    text-transform: capitalize;
                    position: relative;
                }
            
                .user-name::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    width: 80%;
                    height: 2px;
                    background-color: rgba(231, 231, 231, 0.5);
                }
            
                .user-contents {
                    padding: 4%;
                
                    .user-email,
                    .user-role {
                        font-size: 13px;
                        padding: 1%;
                    }
                    
                    .user-email::first-letter,
                    .user-role::first-letter {
                        text-transform: uppercase;
                    }
                }        
            }
        }      
    }
}




/* break for table view*/





.list {
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 1% 0.5%;

    .users-title {
        font-size: 15px;
        font-weight: 900;
        padding: 1%;

        &.active {
            text-align: center;
            margin-bottom: 8.75%;
        }
    }

    .users-container {
        display: flex;
        width: 100%;
        height: auto;
        max-height: 100%;
        padding: 1%;

        .all-users-table-container {
            height: 100%;
            width: 100%;
            border: 1px solid #ccc;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

            table {
                width: 100%;
                border-collapse: collapse;

                th {
                    font-size: 14px;
                    width: calc(100% / 8);
                    padding: 1%;
                    text-align: left;
                    cursor: pointer;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }

                    &.active {
                        color: rgb(86, 86, 2);
                    }
                }

                .user-column,
                .user-name {
                    padding-left: 2.25%;
                }


                td {
                    font-size: 12px;
                    border-top: 1px solid #e5e2e2;
                    border-bottom: 1px solid #e5e2e2;
                    padding: 1%;
                    text-align: left;
                }

                i {
                    font-size: 13px;
                    transition: transform 1s ease;
                    color: rgb(255, 255, 255);

                    &.rotate {
                        transform: rotate(180deg);
                    }

                    &.active {
                        color: rgb(86, 86, 2);
                    }
                }

                .user-name {
                    font-weight: 500;

                    .user-link {
                        cursor: pointer;
                        text-decoration: none;
                        color: inherit;

                        &:hover {
                            color: rgb(86, 86, 2);
                        }
                    }
                }
            }

            .users-table-pagination {
                padding: 0 2%;

                .pagination-content {
                    display: grid;
                    grid-template-columns: 50% 50%;

                    .pagination-pages {
                        display: flex;
                        font-size: 12px;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    
                    .pagination-buttons {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .page-button-left, 
                        .page-button-right {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 25px;
                            font-size: 12px;
                            border-radius: 5%;
                            border: 1px solid rgba(0, 0, 0, 0.143);
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
                            background-color: white;
                            cursor: pointer;
                            z-index: 1;
                            color: inherit;
                            padding: 1%;
                
                            &:hover {
                                color: rgb(86, 86, 2);
                                border: 1px solid rgb(86, 86, 2, 0.05);
                            }
                        }

                        .page-number {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 25px;
                            font-size: 12px;
                            border-radius: 5%;
                            border: 1px solid rgba(0, 0, 0, 0.143);
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
                            background-color: white;
                            z-index: 1;
                            color: inherit;
                            padding: 1% 2%;
                            margin: 1%;
                            cursor: pointer;

                            &:hover {
                                color: rgb(86, 86, 2);
                                border: 1px solid rgb(86, 86, 2, 0.05);
                            }
                        }

                        .page-input {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            max-height: 25px;
                            font-size: 12px;
                            width: 10%;
                            border: 1px solid rgba(0, 0, 0, 0.143);
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
                            background-color: white;
                            z-index: 1;
                            color: inherit;
                            padding: 1% 2%;
                            margin: 1%;
                            cursor: pointer;
                            appearance: none;
                        }
                    }
                }
            }
        }
    }
}