.users-tile {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .users-sort-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.2), 15px 6px 12px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        z-index: 97;
        position: sticky;
        top: 0;
        
        .users-title {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            margin-right: 5%;
        }

        .users-sort-select {
            padding: 2px;
            width: 150px;
            border: none;
            cursor: pointer;
            outline: none;
            background: transparent;
            text-align: center;
        }

        .users-sort-icon {
            padding: 5px;
            margin-left: 5%;
            cursor: pointer;
            transition: transform 1s ease;

            &.rotate {
                transform: rotate(180deg)
            }
        }
    }

    .users-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1%;

        &.active {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        
        .user-link {
            text-decoration: none;
            color: inherit;
            width: auto;
            height: auto;
            padding: 5px;

            &.active {
                padding: 10px;
            }

            .user-container {
                padding: 2% 1%;
                height: 120px;
                width: 240px;
                text-align: center;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                transition: transform 0.3s ease-in-out;
                cursor: pointer;
            
                &:hover {
                    transform: scale(1.01) !important;
                }                
            
                .user-name {
                    font-size: 15px;
                    padding: 2%;
                    font-weight: 800;
                    text-transform: capitalize;
                    position: relative;
                }
            
                .user-name::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    width: 80%;
                    height: 2px;
                    background-color: rgba(130, 130, 130, 0.4);
                }
            
                .user-contents {
                    padding: 4%;
                
                    .user-email,
                    .user-role {
                        font-size: 13px;
                        padding: 1%;
                    }
                    
                    .user-email::first-letter,
                    .user-role::first-letter {
                        text-transform: uppercase;
                    }
                }        
            }
        }      
    }
}

@media (max-width: 500px) {

    .users-sort-container {
        box-shadow: none !important;
    }

    .users-title {
        display: none;
    }

    .users-container {
        margin-top: 0 !important;
    }

    .user-link {
        width: 100% !important;
        padding: 0 !important;      
    }

    .user-container {
        width: 100% !important;     
        height: 100% !important;
        box-shadow: none !important;
    }
}




/* break for table view*/





.users-list {
    min-height: 100%;
    width: 100%;
    align-items: center;
    padding: 1% 0.5%;

    .users-title {
        font-size: 15px;
        font-weight: 900;
        padding: 1%;

        &.active {
            text-align: center;
        }
    }

    .users-container {
        display: flex;
        width: 100%;
        height: auto;
        max-height: 100%;
        padding: 1%;

        .all-users-table-container {
            height: 100%;
            width: 100%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

            table {
                width: 100%;
                border-collapse: collapse;

                th {
                    font-size: 14px;
                    width: calc(100% / 8);
                    padding: 1%;
                    text-align: left;
                    cursor: pointer;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }

                    &.active {
                        color: rgb(86, 86, 2);
                    }
                }

                .user-column,
                .user-name {
                    padding-left: 2.25%;
                }


                td {
                    font-size: 12px;
                    padding: 1%;
                    text-align: left;
                }

                i {
                    font-size: 13px;
                    transition: transform 1s ease;

                    &.rotate {
                        transform: rotate(180deg);
                    }

                    &.active {
                        color: rgb(86, 86, 2);
                    }
                }

                .user-name {
                    font-weight: 500;

                    .user-link {
                        cursor: pointer;
                        text-decoration: none;
                        color: inherit;

                        &:hover {
                            color: rgb(86, 86, 2);
                        }
                    }
                }
            }

            .users-table-pagination {
                padding: 0 2%;

                .pagination-content {
                    display: grid;
                    grid-template-columns: 50% 50%;

                    .pagination-pages {
                        display: flex;
                        font-size: 12px;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    
                    .pagination-buttons {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .page-button-left, 
                        .page-button-right {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 25px;
                            font-size: 12px;
                            border-radius: 5%;
                            border: 1px solid rgba(0, 0, 0, 0.143);
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
                            cursor: pointer;
                            z-index: 1;
                            padding: 1%;
                
                            &:hover {
                                color: rgb(86, 86, 2) !important;
                                border: 1px solid rgb(86, 86, 2, 0.05) !important;
                            }
                        }

                        .page-number {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 25px;
                            font-size: 12px;
                            border-radius: 5%;
                            border: 1px solid rgba(0, 0, 0, 0.143);
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
                            z-index: 1;
                            padding: 1% 2%;
                            margin: 1%;
                            cursor: pointer;

                            &:hover {
                                color: rgb(86, 86, 2) !important;
                                border: 1px solid rgb(86, 86, 2, 0.05) !important;
                            }
                        }

                        .page-input {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            max-height: 25px;
                            font-size: 12px;
                            width: 10%;
                            border: 1px solid rgba(0, 0, 0, 0.143);
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
                            z-index: 1;
                            padding: 1% 2%;
                            margin: 1%;
                            cursor: pointer;
                            appearance: none;
                        }
                    }
                }
            }
        }
    }
}