.users {
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 0.5%;
}
.users .users-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "add table" "manage table";
  width: 100%;
  height: 100%;
  justify-content: center;
}
.users .users-container .add-users-container {
  align-items: center;
  margin: 10% 25%;
}
.users .users-container .add-users-container .add-users-content {
  display: flex;
  flex-direction: column;
  padding: 5%;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.2), inset 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.users .users-container .add-users-container .add-users-content .add-users-title {
  padding: 3% 0;
  font-size: 20px;
  font-weight: 800;
}
.users .users-container .add-users-container .add-users-content .first,
.users .users-container .add-users-container .add-users-content .last,
.users .users-container .add-users-container .add-users-content .email,
.users .users-container .add-users-container .add-users-content .user-drop-down,
.users .users-container .add-users-container .add-users-content .add-user {
  padding: 1%;
  margin: 2%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.users .users-container .add-users-container .add-users-content .add-user {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(86, 86, 2, 0.05);
  background-color: rgba(86, 86, 2, 0.05);
  transition: transform 3s ease-in-out;
}
.users .users-container .add-users-container .add-users-content .add-user:hover {
  color: rgb(86, 86, 2);
}
.users .users-container .add-users-container .manage-user {
  display: flex;
  flex-direction: column;
  padding: 5%;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.2), inset 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
.users .users-container .add-users-container .manage-user .manage-user-title {
  padding: 3% 0;
  font-size: 20px;
  font-weight: 800;
}
.users .users-container .add-users-container .manage-user .user-selection,
.users .users-container .add-users-container .manage-user .change-roll-drop-down,
.users .users-container .add-users-container .manage-user .user-role,
.users .users-container .add-users-container .manage-user .user-submit {
  padding: 1%;
  margin: 2%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.users .users-container .add-users-container .manage-user .user-submit {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(86, 86, 2, 0.05);
  background-color: rgba(86, 86, 2, 0.05);
  transition: transform 3s ease-in-out;
}
.users .users-container .add-users-container .manage-user .user-submit:hover {
  color: rgb(86, 86, 2);
}
.users .users-container .add-users-container .manage-user .user-role {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1%;
  font-size: 14px;
  align-items: center;
}
.users .users-container .add-users-container .manage-user .user-role.hidden {
  display: none;
}
.users .users-container .add-users-container .manage-user .user-role .user-current-role-left {
  padding: 1%;
}
.users .users-container .add-users-container .manage-user .user-role .user-current-role-right {
  display: flex;
  justify-content: flex-end;
  padding: 1% 10%;
}
.users .users-container .all-users-table-container {
  height: 80%;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  margin: 10%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  padding: 5%;
}
.users .users-container .all-users-table-container .bsxMp {
  padding-bottom: 7%;
  font-weight: 800;
}
.users .users-container .all-users-table-container .rdt_TableCol {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.users .users-container .all-users-table-container .rdt_TableCell {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2% 0;
}
.users .users-container .all-users-table-container .rdt_Pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
}/*# sourceMappingURL=users.css.map */