.sideBar {
    display: grid;
    grid-template-rows: 9fr 1fr;
    height: 100%;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.2), 6px 0px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;

    .sideBar-links {
        padding-top: 50%;
        
        .nav-link {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            align-items: center;
            margin: 0;
            padding: 5%;
            font-size: 15px;
            cursor: pointer;
            width: 100%;
            text-align: center;
            transition: filter 0.3s;
            text-decoration: none;
            color: rgb(19, 18, 18);

            &:hover {
                color: rgb(86, 86, 2) !important;
                border: 1px solid rgb(86, 86, 2, 0.05) !important;
                background-color: rgb(86, 86, 2, 0.02) !important;
            }
            
            &.active {
                .dashboard-link,
                .users-link,
                .projects-link,
                .issues-link,
                .reports-link {
                    color: rgb(86, 86, 2) !important;
                }
            }
        }

        .active {
            color: rgb(86, 86, 2) !important;
            border: 1px solid rgb(86, 86, 2, 0.05) !important;
        }
    }

    .settings-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .settings-link {
            text-decoration: none;
        }

        .settings-icon {
            font-size: 30px;
            padding: 2px;
            transition: filter 0.2s ;

            &:hover {
                color: rgb(86, 86, 2) !important;
            }
        }
    }

    .user-icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: filter 0.3s;

        .user-link {
            text-decoration: none;
        }
        
        .user-icon {
            font-size: 25px;
            padding: 2px;
            cursor: pointer;

            &:hover {
                filter: brightness(0.7);
            }
        }

        .user-name-welcome {
            font-size: 12px;
            padding: 2px;
        }
    }
}

@media (min-width: 1301px) {
    span.icon {display:none}
    span.text {display:inline-block}
}

@media (max-width: 1300px) {
    span.icon {display:inline-block}
    span.text {display:none}
}

@media (max-width: 1000px) {
    .user-name-welcome {display: none;}
}

@media (max-width: 850px) {
    .dashboard-link {
        display: none !important;
    }
}

@media (max-width: 500px) {
    .sideBar {
        display: grid;
        grid-template-rows: 100%;

        &.grid-1 {
            grid-template-columns: 66% 17% 17%;
        }

        &.grid-2 {
            grid-template-columns: 50% 25% 25%;
        }
    }

    .sideBar-links,
    .settings-container,
    .user-icon {
        display: flex;
        padding: 0 !important;
        justify-content: space-evenly;
    }

    .nav-link {
        flex-direction: row !important;
        justify-content: space-evenly;
    }
    
    .icon,
    .settings-icon,
    .user-icon {
        font-size: 25px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

}