.sideBar {
    display: grid;
    grid-template-rows: 9fr 1fr;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.2), 6px 0px 10px 0 rgba(0, 0, 0, 0.2);
    color: rgb(19, 18, 18);
    z-index: 99;

    .sideBar-links {
        padding-top: 50%;
        .nav-link {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            align-items: center;
            margin: 0;
            padding: 5%;
            font-size: 15px;
            cursor: pointer;
            width: 100%;
            text-align: center;
            transition: filter 0.3s;
            text-decoration: none;
            color: rgb(19, 18, 18);

            &:hover {
                color: rgb(86, 86, 2);
                border: 1px solid rgb(86, 86, 2, 0.05);
                background-color: rgb(86, 86, 2, 0.02);
            }
        
        }

        .active {
            color: rgb(86, 86, 2);
            border: 1px solid rgb(86, 86, 2, 0.05);
        }
    }

    .settings-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        i {
            font-size: 30px;
            padding: 2px;
            color: rgb(19, 18, 18);
            transition: filter 0.2s ;

            &:hover {
                color: rgb(86, 86, 2);
            }
        }
    }

    .user-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: filter 0.3s;
        
        i {
            color: rgb(224, 1, 1);
            font-size: 25px;
            padding: 2px;
            cursor: pointer;

            &:hover {
                filter: brightness(0.7)
            }
        }

        .user-name {
            font-size: 12px;
            padding: 2px;
        }
    }
}
