.sideBar {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100vh;
    // width: 100%;
    background-color: rgb(241, 241, 247);
    color: rgb(19, 18, 18);

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sideBar-links {
        padding-top: 20%;
        .nav-link {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            align-items: center;
            margin: 0;
            padding: 5%;
            font-size: 18px;
            cursor: pointer;
            width: 100%;
            text-align: center;
            transition: filter 0.3s;
            text-decoration: none;
            color: rgb(19, 18, 18);

            &:hover {
                color: rgb(86, 86, 2);
                border: 1px solid rgb(86, 86, 2, 0.05);
                background-color: rgb(86, 86, 2, 0.02);
            }
        
        }
    }

    .settings-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        i {
            font-size: 30px;
            padding: 2px;
            color: rgb(19, 18, 18);
            transition: filter 0.2s ;

            &:hover {
                color: rgb(86, 86, 2);
            }
        }
    }

    .user-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: filter 0.3s;
        
        i {
            color: rgb(224, 1, 1);
            font-size: 25px;
            padding: 2px;
            cursor: pointer;

            &:hover {
                filter: brightness(0.7)
            }
        }

        .user-name {
            font-size: 12px;
            padding: 2px;
        }
    }
}
