@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.demo-user-container {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgb(6, 6, 6), rgb(34, 33, 34), rgb(22, 19, 35), rgb(9, 13, 24), rgb(15, 43, 44));
    column-gap: 30px;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: rgb(35, 40, 54);
    text-align: center;
    padding: 10px;
}

.demo-user-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
    max-width: 430px;
    pointer-events: auto;

    .demo-users {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 20px 0;
        padding-top: 20px;
        border-top: 1px solid rgb(202, 202, 202);


        .demo-user {
            .field {
                display: flex;
                flex-direction: column;
                gap: 2px;
                position: relative;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                padding: 20px;

                span {
                    font-weight: 500;
                    opacity: 0.6;
                    text-align: center;
                    color: rgb(35, 40, 54);
                    padding-top: 5px;
                    cursor: pointer;
                }

                i {
                    font-size: 65px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: filter 0.3s;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(0.7);
                    }
                }
        
                &.admin {
                    .admin-icon {
                        color: rgb(1, 182, 1);

                    }
    
                }
        
                &.manager {        
                    .manager-icon {
                        color: rgb(255, 165, 0);
                    }
                }
        
                &.developer {
                    .developer-icon {
                        color: rgb(232, 232, 15);
                    }
                }
        
                &.submitter {
                    .submitter-icon {
                        color: rgb(224, 1, 1);
                    }

                }
            }
        }        
    }
}

@media screen and (max-width: 500px) {
    .demo-user-content {
        padding: 15px;
        height: 100dvh;
    }

    .demo-user-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}