.user {
    height: 100%;
    overflow: hidden;


    .user-container {
        height: 100%;
        display: grid;
        grid-template-columns: 30% 70%;

        .user-buttons-container {
            height: 92.05%;

            .user-buttons-content {
                margin: 15% 0;
                padding: 2%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .account-settings,
                .notification-settings,
                .password-settings {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 3px;
                    padding: 2%;
                    height: 100px;
                    margin: 2%;
                    width: 300px;
                    border: 1px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2);
                        border: 1px solid rgb(86, 86, 2, 0.05);
                    }

                    .button-title {
                        font-size: 16px;
                        font-weight: 800;
                        padding: 2%;
                    }

                    .button-details {
                        font-size: 13px;
                        font-weight: 200;
                    }
                }
            }
        }

        .user-account-container {
            grid-template-rows: 20% 50%;
            margin: 2%;
            padding: 2%;
            display: none;

            &.active {
                display: grid;
            }

            .user-img-container {
                height: 80%;
                display: grid;
                grid-template-columns: 20% 60% 20%;
                margin: 3% 2%;
                padding: 3% 2%;
                border: 2px solid rgba(0, 0, 0, 0.143);
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

                img {
                    border-radius: 50%;
                }

                .user-name-content {
                    padding: 1%;

                }

                .update {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 3px;
                    height: 25px;
                    margin: 10%;
                    width: 100px;
                    border: 1px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2);
                        border: 1px solid rgb(86, 86, 2, 0.05);
                    }
                }
            }

            .user-info-container {
                margin: 5% 2%;
                padding: 5%;
                height: 110%;
                border: 2px solid rgba(0, 0, 0, 0.143);
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

                .user-name-container,
                .city-state-container,
                .zip-country-container {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    padding: 1%;
                    gap: 2%;

                    input {
                        width: 96%;
                    }
                }

                .address-container {
                    display: grid;
                    grid-template-columns: 100%;
                    padding: 1%;
                    gap: 2%;

                    input {
                        width: 100%;
                    }
                }
            }

            .edit-info-button-container {
                padding: 5% 1%;
                display: flex;
                align-items: center;
                justify-content: center;

                .edit-info-button {
                    border-radius: 5%;
                    height: 25px;
                    width: 200px;
                    border: 1px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2);
                        border: 1px solid rgb(86, 86, 2, 0.05);
                    } 
                }
            }
        }

        .user-notifications-container {
            margin: 2%;
            padding: 2%;
            display: none;

            &.active {
                display: inherit;
            }

            .notifications-content {
                display: grid;
                grid-template-rows: 20% 80%;
                height: 100%;
                padding: 0 5%;

                .notifications-global,
                .notifications-local {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 2% 5%;
                    font-size: 15px;
                    border: 2px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

                    .notification-content {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        padding: 1%;
                    }

                    .notification-header {
                        font-weight: 500;
                        font-size: 17px;
                    }
                    
                    .notification-save-button-container {
                        margin: 1%;
                        padding: 2% 0;
                    }
     
                }

                .notifications-local {
                    padding: 1% 5%;
                    margin-top: 2%;     
                }

                .enable,
                .disable,
                .notifications-save-button {
                    border-radius: 3px;
                    height: 25px;
                    width: 100px;
                    border: 1px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2);
                        border: 1px solid rgb(86, 86, 2, 0.05);
                    }
                }

                .notifications-save-button {
                    width: 125px;
                    height: 30px;
                }
            }

            
        }

        .user-password-container {
            margin: 3%;
            margin-left: 10%;
            margin-top: 5%;
            padding: 2%;
            width: 50%;
            height: 60%;
            border: 2px solid rgba(0, 0, 0, 0.143);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            display: none;

            &.active {
                display: inherit;
            }

            .title-container {
                display: grid;
                grid-template-columns: 80% 20%;

                .title {
                    font-size: 17px;
                    font-weight: 800;
                    padding: 1%;
                }

                .password-details {
                    font-size: 13px;
                    padding: 5%;
                }
                
                .password-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 50px;

                    i {
                        font-size: 50px;
                    }
                }
            }

            .password-content {
                padding: 0 4%;
                margin: 5% 1%;

                .current-password,
                .new-password,
                .re-enter-password {
                    padding: 2%;
                    width: 100%;
                }

                input {
                    width: 100%;
                }
            }

            .new-password-button-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2%;

                .new-password-submit-button {
                    border-radius: 5%;
                    height: 25px;
                    width: 200px;
                    border: 1px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2);
                        border: 1px solid rgb(86, 86, 2, 0.05);
                    } 
                }
            }
        }
    }
}