.user {
    height: 100%;
    overflow: hidden;


    .user-container {
        height: 100%;
        display: grid;
        grid-template-columns: 30% 70%;

        .user-buttons-container {
            height: 92.05%;

            .user-buttons-content {
                margin: 15% 0;
                padding: 2%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .account-settings,
                .notification-settings,
                .password-settings {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 3px;
                    padding: 2%;
                    height: 100px;
                    margin: 2%;
                    width: 300px;
                    border: 1px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2);
                        border: 1px solid rgb(86, 86, 2, 0.05);
                    }

                    .button-title {
                        font-size: 16px;
                        font-weight: 800;
                        padding: 2%;
                    }

                    .button-details {
                        font-size: 13px;
                        font-weight: 200;
                    }
                }
            }
        }

        .user-account-container {
            grid-template-rows: 20% 80%;
            margin: 8% 15%;
            padding: 2%;
            display: none;

            &.active {
                display: grid;
            }

            .user-img-container {
                height: 100%;
                display: grid;
                grid-template-columns: 20% 60% 20%;
                margin: 0 2%;
                padding: 3% 2%;
                border: 2px solid rgba(0, 0, 0, 0.143);
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                background-color: rgb(255, 255, 255);

                .user-image-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .user-image {
                        height: 75px;
                        width: 75px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .user-name-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding: 1%;

                    .user-name,
                    .user-role {
                        padding: 1%;
                    }

                    .user-name {
                        font-weight: 500;
                    }

                    .user-role {
                        font-size: 14px;
                    }
                }

                .user-img-update-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .update {
                        border-radius: 3px;
                        padding: 3% 10%;

                        border: 1px solid rgba(0, 0, 0, 0.143);
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                        background-color: white;
                        cursor: pointer;
                        z-index: 1;
            
                        &:hover {
                            color: rgb(86, 86, 2);
                            border: 1px solid rgb(86, 86, 2, 0.05);
                        }
                    }
                }     
            }

            .user-info-container {
                margin: 2%;
                padding: 5%;
                border: 2px solid rgba(0, 0, 0, 0.143);
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                background-color: rgb(255, 255, 255);

                .user-name-container,
                .city-state-container,
                .zip-country-container {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    padding: 1%;
                    gap: 2%;

                    input,
                    select {
                        width: 96%;
                        margin: 1% 0;
                    }

                    select {
                        padding: 0.9px 0;
                    }

                    .space {
                        height: 24px;
                        width: 96%;
                        padding: 1% 0;
                        margin: 1% 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }

                    .title {
                        font-weight: 500;
                    }
                }

                .address-container {
                    display: grid;
                    grid-template-columns: 100%;
                    padding: 1%;
                    gap: 2%;

                    input {
                        width: 100%;
                        margin: 1% 0;
                    }

                    .space {
                        height: 24px;
                        width: 100%;
                    }

                    .title {
                        font-weight: 500;
                    }
                }

                .edit-info-button-container {
                    padding: 2% 1%;
                    margin-top: 6%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
    
                    .save-info-button,
                    .cancel-edit-info-button,
                    .edit-info-button {
                        border-radius: 3px;
                        margin: 0 5%;
                        padding: 1% 3%;
                        width: 155px;
                        border: 1px solid rgba(0, 0, 0, 0.143);
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                        background-color: white;
                        cursor: pointer;
                        z-index: 1;
            
                        &:hover {
                            color: rgb(86, 86, 2);
                            border: 1px solid rgb(86, 86, 2, 0.05);
                        } 
                    }

                }
            }

 
        }

        .user-notifications-container {
            margin: 2% 10%;
            padding: 2%;
            display: none;

            &.active {
                display: inherit;
            }

            .notifications-content {
                display: grid;
                grid-template-rows: 20% 80%;
                height: 100%;
                padding: 0 5%;

                .notifications-global,
                .notifications-local {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 2% 5%;
                    font-size: 15px;
                    border: 2px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

                    .notification-content {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        padding: 1%;

                        .notification-button-container {
                            display: flex;
                            justify-content: flex-end;
                        }
                    }

                    .notification-header {
                        font-weight: 500;
                        font-size: 17px;
                    }
                    
                    .notification-save-button-container {
                        margin: 1%;
                        padding: 2% 0;
                    }
     
                }

                .notifications-local {
                    padding: 1% 5%;
                    margin-top: 2%;
                    
                    .notifications {

                        .notification-content {

                        }
                    }
                }

                .enable,
                .disable {
                    border-radius: 3px;
                    padding: 0.5% 7%;
                    border: 1px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2);
                        border: 1px solid rgb(86, 86, 2, 0.05);
                    }
                }

                .notifications-save-button {
                    border-radius: 3px;
                    padding: 1% 5%;
                    border: 1px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2);
                        border: 1px solid rgb(86, 86, 2, 0.05);
                    }
                }

            }

            
        }

        .user-password-container {
            margin: 10% 25%;
            padding: 2%;
            border: 2px solid rgba(0, 0, 0, 0.143);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            display: none;

            &.active {
                display: inherit;
            }

            .title-container {
                display: grid;
                grid-template-columns: 80% 20%;

                .title {
                    font-size: 17px;
                    font-weight: 800;
                    padding: 1%;
                }

                .password-details {
                    font-size: 13px;
                    padding: 5%;
                }
                
                .password-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 50px;

                    i {
                        font-size: 50px;
                    }
                }
            }

            .password-content {
                padding: 0 4%;
                margin: 5% 1%;

                .current-password,
                .new-password,
                .re-enter-password {
                    padding: 2%;
                    width: 100%;
                }

                input {
                    width: 100%;
                }
            }

            .new-password-button-container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2%;

                .new-password-submit-button {
                    border-radius: 3px;
                    padding: 1% 5%;
                    border: 1px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2);
                        border: 1px solid rgb(86, 86, 2, 0.05);
                    } 
                }
            }
        }
    }
}