.user {
    height: 100%;
    overflow: hidden;

    .user-container {
        height: 95vh;
        display: grid;
        grid-template-columns: 30% 70%;

        .user-null {
            width: 93vw;
            text-align: center;
            font-size: 35px;
            padding: 25px;
        }

        .user-buttons-container {
            display: none;
            align-items: center;
            justify-content: center;

            &.active {
                display: flex;
            }

            .user-buttons-content {
                display: flex;
                flex-direction: column;

                .general-settings,
                .account-settings,
                .notification-settings,
                .password-settings,
                .remove-user {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 3px;
                    padding: 2%;
                    height: 100px;
                    margin: 2%;
                    width: 300px;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2) !important;
                        border: 1px solid rgb(86, 86, 2, 0.05) !important;
                    }

                    .button-title {
                        font-size: 16px;
                        font-weight: 800;
                        padding: 2%;
                    }
                }
            }
        }

        .user-account-container {
            grid-template-rows: 20% 80%;
            height: 95vh;
            padding: 5%;
            display: none;

            &.active {
                display: grid;
            }

            .user-img-container {
                height: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

                &.admin {
                    grid-template-columns: 25% 75%;
                }

                .user-image-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 5%;

                    .user-image {
                        height: 75px;
                        width: 75px;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }

                .user-name-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 5%;
                    width: 100%;

                    .user-name {
                        font-weight: 500;
                        width: 100%;
                    }

                    .user-role-container {
                        display: flex;
                        justify-content: center;
                        font-size: 14px;
                        width: 100%;

                        .user-role-select {
                            height: 35px;
                            width: 140px;
                            border-radius: 3px;
                        }
                    }

                    .change-role-buttons-container {
                        margin-left: 10%;
                        padding: 2%;

                        .change-role-button,
                        .save-role-button {
                            height: 35px;
                            width: 125px;
                            border-radius: 3px;
                            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                            cursor: pointer;
                            z-index: 1;
                
                            &:hover {
                                color: rgb(86, 86, 2) !important;
                                border: 1px solid rgb(86, 86, 2, 0.05) !important;
                            }
                        }
                    }
                }
            }

            .user-info-container {
                margin-top: 2%;
                padding: 5%;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .user-full-name-container,
                .city-state-container,
                .zip-country-container {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    padding: 1%;

                    input,
                    select {
                        width: 96%;
                        margin: 1% 0;
                    }

                    select {
                        padding: 0.9px 0;
                    }

                    input {
                        padding-left: 1%;
                    }

                    .space {
                        height: 24px;
                        width: 96%;
                        padding: 1% 0;
                        margin: 1% 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }

                    .title {
                        font-weight: 500;
                    }
                }

                .address-container {
                    display: grid;
                    grid-template-columns: 98%;
                    padding: 1%;

                    input {
                        width: 100%;
                        margin: 1% 0;
                        padding-left: 1%;
                    }

                    .space {
                        height: 24px;
                        width: 100%;
                    }

                    .title {
                        font-weight: 500;
                    }
                }

                .edit-info-button-container {
                    padding: 2% 1%;
                    display: flex;
                    justify-content: center;
    
                    .save-info-button,
                    .cancel-edit-info-button,
                    .edit-info-button {
                        border-radius: 3px;
                        margin: 0 5%;
                        padding: 1% 3%;
                        width: 180px;
                        height: 35px;
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                        cursor: pointer;
                        z-index: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
            
                        &:hover {
                            color: rgb(86, 86, 2) !important;
                            border: 1px solid rgb(86, 86, 2, 0.05) !important;
                        } 
                    }
                }
            } 
        }

        .user-notifications-container {
            height: 95vh;
            padding: 2% 5%;
            display: none;

            &.active {
                display: inherit;
            }

            .notifications-content {
                display: grid;
                grid-template-rows: 20% 80%;
                height: 88vh;

                .notifications-global,
                .notifications-local {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 2% 5%;
                    font-size: 14px;
                    border: 2px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

                    .notification-content {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        padding: 0.5%;

                        .notification-button-container {
                            display: flex;
                            justify-content: flex-end;
                        }
                    }

                    .notification-header {
                        font-weight: 500;
                        font-size: 16px;
                    }
                    
                    .notification-save-button-container {
                        padding: 2% 0;
                    }
     
                }

                .notifications-local {
                    margin-top: 2%;
                }

                .enable,
                .disable {
                    border-radius: 3px;
                    padding: 0.5% 7%;
                    height: 25px;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2) !important;
                        border: 1px solid rgb(86, 86, 2, 0.05) !important;
                    }
                }

                .enable {
                    background-color: red;
                }

                .disable {
                    color: wheat;
                    background-color: green;
                }

                .notifications-save-button {
                    border-radius: 3px;
                    padding: 1% 5%;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2) !important;
                        border: 1px solid rgb(86, 86, 2, 0.05) !important;
                    }
                }
            }            
        }

        .user-password-container {
            height: 95vh;
            padding: 5%;
            display: none;

            &.active {
                display: inherit;
            }
            
            .user-password-content {
                display: grid;
                grid-template-rows: 35% 50% 15%;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    
                .title-container {
                    display: grid;
                    grid-template-columns: 80% 20%;
                    padding: 2%;
    
                    .passwordz {
                        font-size: 17px;
                        font-weight: 800;
                        padding: 1%;
                    }
    
                    .password-details {
                        font-size: 13px;
                        padding: 5%;
                    }
                    
                    .password-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 50px;
    
                        i {
                            font-size: 50px;
                        }
                    }
                }
    
                .password-content {
                    padding: 0 4%;
    
                    .current-password,
                    .new-password,
                    .re-enter-password {
                        padding: 2%;
                        width: 100%;
                    }
    
                    input {
                        width: 100%;
                    }
                }
    
                .new-password-button-container {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    .new-password-submit-button {
                        border-radius: 3px;
                        padding: 1% 5%;
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                        cursor: pointer;
                        z-index: 1;
            
                        &:hover {
                            color: rgb(86, 86, 2) !important;
                            border: 1px solid rgb(86, 86, 2, 0.05) !important;
                        } 
                    }
                }
            }
        }
    }
}



@media (max-width: 1200px) {
    .user-buttons-container,
    .user-account-container,
    .user-notifications-container,
    .user-password-container {
        width: 95vw;
        padding: 0 !important;
    }  
}

@media (max-width: 500px) {

    .user {
        height: 90svh !important;
    }

    .user-buttons-container,
    .user-account-container,
    .user-notifications-container,
    .user-password-container {
        width: 100vw !important;
        font-size: 14px;
        height: 100% !important;
    }

    .user-account-container {
        grid-template-rows: 15% 85% !important;
    }

    .general-settings,
    .account-settings,
    .notification-settings,
    .password-settings,
    .remove-user {
        width: 100vw !important;
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
    }

    .user-img-container {
        display: flex !important;
    }

    .user-image-content {
        justify-content: center !important;
    }

    .user-image {
        height: 60px !important;
        width: 60px !important;
    }

    .user-name-content {
        flex-direction: column !important;
    }

    .user-name {
        width: auto !important;
    }

    .user-name,
    .user-role-container,
    .change-role-buttons-container {
        padding-bottom: 2%;
    }

    .user-role-select,
    .change-role-button,
    .save-role-button {
        height: 25px !important;
        box-shadow: none !important;
    }
    
    .user-role-container,
    .user-role-select {
        width: auto !important;
        font-size: 12px !important;
    }

    .change-role-buttons-container {
        margin: 0 !important;
    } 
    
    .user-info-container {
        display: flex;
        flex-direction: column !important;
        margin: 0 !important;
        // height: 76svh !important;
        padding: 2% !important;
        width: 100vw !important;
        justify-content: flex-start !important;
    }

    .user-full-name-container,
    .city-state-container,
    .zip-country-container,
    .address-container {
        display: flex !important;
        flex-direction: column !important;
        font-size: 14px;
        padding: 0 !important;
        width: 100% !important;
   }

    .user-full-name-content,
    .user-email-content,
    .address-content,
    .city-content,
    .state-content,
    .zip-content,
    .country-content {
        padding: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center !important;

        .title {
            width: auto !important;
            padding-right: 5px;
        }

        .input {
            margin: 0 !important;
            width: 100% !important;
            max-width: 220px !important;
            text-align: right;
            padding-right: 5px;
        }

        .space {
            flex-direction: column;
            width: auto !important;
            margin: 0 !important;
            align-items: flex-end !important;
        }

    }

    .save-info-button,
    .cancel-edit-info-button,
    .edit-info-button {
        box-shadow: none !important;
        margin-top: 10% !important;
    }

    .notifications-content {
        height: 100svh !important;
        grid-template-rows: 15% 85% !important;
    }

    .notifications-local {
        padding: 0 5% !important;
        font-size: 13px !important;
        justify-content: flex-start !important;
    }


    .notifications-local {
        margin: 0 !important;
    }

    .notification-content {
        padding: 1% 0 !important;
    }

    .notification-header {
        font-size: 15px !important;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .notification-save-button-container {
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        height: 35%;
    }

    .user-password-container {
        height: 90vh !important;
    }

    .user-password-content {
        grid-template-rows: 35% 40% 25% !important;
    }

    .account-settings,
    .notification-settings,
    .password-settings,
    .remove-user,
    .user-img-container,
    .change-role-button,
    .save-role-button,
    .user-info-container,
    .save-info-button,
    .cancel-edit-info-button,
    .edit-info-button,
    .notifications-global,
    .notifications-local,
    .enable,
    .disable,
    .notifications-save-button,
    .user-password-content,
    .new-password-submit-button {
        box-shadow: none !important;
    }

}