.layout {
    // width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
    "side head"
    "side main";
}

.header {
    grid-area: head;
}

.sidebar {
    grid-area: side;
}

.main-content {
    grid-area: main;
    background-color: rgba(245, 245, 254, 0.9);
    overflow-x: hidden;
    overflow-y: auto;
}