.layout {
    height: 100svh;
    display: grid;
    grid-template-columns: 7% 93%;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
    "logo head"
    "side main";
}

.logo {
    grid-area: logo;
}

.header {
    grid-area: head;
    min-height: 30px;
}

.sidebar {
    grid-area: side;
}

.main-content {
    grid-area: main;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (max-width: 500px) {

    .logo {
        display: none !important;
    }
    .layout {
        grid-template-columns: 100%;
        grid-template-rows: 5% 90% 5%;
        grid-template-areas: 
        "head"
        "main"
        "side";
    }
}