.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 7% 93%;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
    "logo head"
    "side main";
}

.logo {
    grid-area: logo;
}

.header {
    grid-area: head;
}

.sidebar {
    grid-area: side;
}

.main-content {
    grid-area: main;
    overflow-x: hidden;
    overflow-y: auto;
}