.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 7% 93%;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
    "side head"
    "side main";
}

.header {
    grid-area: head;
}

.sidebar {
    grid-area: side;
}

.main-content {
    grid-area: main;
    background-color: rgba(255, 255, 255, 0.966);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
    overflow-x: hidden;
    overflow-y: auto;
}