.project {
    width: 100%;
    height: 100%;
    border: 2px solid purple;
    
    .project-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 75%;
        height: 100%;

        .project-title-container {
            display: grid;
            grid-template-rows: 10% 90%;

            .project-title-content {
                padding: 2%;

                .project-name,
                .project-manager {
                    display: flex;
                    padding: 1%;
                    gap: 2%;
                }            
            }
        }

        .project-status-content {
            border: 2px solid blue;


        }

        .project-issues-content {
            border: 2px solid yellow;


        }

        .project-users-content {
            border: 2px solid red;


        }


    }
}