.project {
    width: 100%;
    height: 100%;
    
    .project-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 30% 55%;
        height: 100%;
        grid-template-areas: 
        'title title'
        'status status'
        'left right';

        .project-title-container {
            grid-area: title;
            display: flex;
            margin: 2%;
            padding: 0 1%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);


            .project-icon-container {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .project-icon {
                    font-size: 30px;
                }
            }

            .project-name,
            .project-manager,
            .project-created {
                display: flex;
                flex-direction: row;
                font-size: 15px;
                width: 100%;
                align-items: center;
                justify-content: space-evenly;

                .project-name-left,
                .project-manager-left,
                .project-date-left {
                    font-weight: 800;
                }
            }
        }
    
        .project-status-content {
            grid-area: status;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
            'stat priority';
            font-size: 13px;
            margin: 0 2%;

            .status-container {
                grid-area: stat;
            }

            .priority-container {
                grid-area: priority;
            }

            .status-container,
            .priority-container {
                display: flex;
                flex-direction: column;
                margin: 0 10%;
                font-size: 12px;
                padding: 1%;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                
                .priority-header,
                .status-header {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    font-weight: 800;
                    padding: 1%; 
                }

                .priority-header::after,
                .status-header::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 80%;
                    height: 2px;
                    background-color: rgba(231, 231, 231, 0.5);
                }

                .priority-content,
                .status-content {
                    display: grid;
                    flex-direction: row;
                    height: 100%;
                    grid-template-columns: 50% 50%;

                    .status-counts-container,
                    .priority-counts-container {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        justify-content: center;
                        margin: 4%;
                        padding: 2%;

                        .status-counts,
                        .priority-counts {
                            display: grid;
                            padding: 1%;
                            grid-template-columns: repeat(2, 1fr);
                            justify-content: flex-end;
                            align-items: center;

                            .priority-left,
                            .status-left {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;

                                .priority-dot,
                                .status-dot {
                                    display: flex;
                                    margin: 0 10px;
                                    border-radius: 50%;
                                    width: 8px;
                                    height: 8px;
                                }
                            }
            
                            .priority-right,
                            .status-right {
                                display: flex;
                                padding-right: 5%;
                                justify-content: flex-end;
                            }
                        }
                    }
                }
            }
        }

        .project-buttons-container {
            display: none;
            flex-direction: column;
            width: 100vw;

            .project-issues-button-container.inactive {
                display: none;
            }

            .project-users-button-container.inactive {
                display: none;
            }

            .project-issues-button,
            .project-users-button {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                padding: 2%;
                height: 100px;
                width: 100%;
                cursor: pointer;
                z-index: 1;
            }
        }

        .project-issues-content {
            margin-top: 2%;
        }

        .project-users-content {
            margin-top: 2%;
        }
    }
}

@media screen and (max-width: 850px) {

    .project-container {
        display: block !important;
    }

    .project-title-container {
        margin: 2% 0 !important;
        padding: 1% !important;
    }

    .project-name,
    .project-manager,
    .project-created {
        font-size: 13px !important;
        flex-direction: column !important;
    }

    .project-status-content {
        margin: 0 !important;
    }

    .status-container,
    .priority-container {
        margin: 0 !important;
        padding: 0 !important;
    }

    .project-icon {
        display: none!important;
    }
}

@media screen and (max-width: 750px) {

    .priority-content,
    .status-content {
        font-size: 11px !important;
    }

    .status-counts,
    .priority-counts {
        padding: 0 !important;
    }

    .priority-dot,
    .status-dot {
        margin-right: 5px !important;
        height: 5px !important;
        width: 5px !important;
    }
}

@media screen and (max-width: 550px) {

    .project-container {
        display: flex !important;
        flex-direction: column !important; 
    }

    .project-title-container,
    .project-issues-content,
    .project-users-content {
        margin: 0 !important;
    }

    .project-status-content {
        display: flex !important;
        flex-direction: column !important;
    }

    .project-manager,
    .project-created {
        display: none !important;
    }

    .project-name {
        flex-direction: row !important;
    }

    .status-container,
    .priority-container {
        height: 200px;
    }
}

@media screen and (max-width: 500px) {

    .project-buttons-container {
        display: flex !important;
    }
    .project-issues-content,
    .project-users-content {
        display: none !important;
        height: 0 !important;
    }

    .project-issues-content.active {
        display: flex !important;
        flex-direction: column !important;
    }

    .project-users-content.active {
        display: flex !important;
        flex-direction: column !important;
    }

    .project-title-container,
    .status-container,
    .priority-container {
        box-shadow: none !important;
    }
}