.project {
    width: 100%;
    height: 100%;
    padding: 1%;    
    
    .project-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 75%;
        height: 100%;
        grid-template-areas: 
        'top top'
        'left right';

        .project-top-container {
            grid-area: top;
            display: grid;
            grid-template-columns: 27% 27% 23% 23%;
            grid-template-rows: 50% 50%;
            grid-template-areas: 
            'title title stats stats'
            'empty empty stats stats';

            .project-title-container {
                grid-area: title;
                display: grid;
                grid-template-columns: 10% 90%;
                margin: 2%;
                padding: 0 1%;
                border: 2px solid rgba(0, 0, 0, 0.143);
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

                .project-icon-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 30px;
                    }
                }
    
                .project-title-content {
                    padding: 2%;
                    display: grid;
                    grid-template-columns: 50% 50%;
                    align-items: center;
                    justify-content: center;
    
                    .project-name,
                    .project-manager {
                        display: flex;
                        font-size: 15px;
                        width: 100%;
                        justify-content: space-evenly;
    
                        .project-name-left,
                        .project-manager-left {
                            font-weight: 800;
                        }
                    }
                }
            }
    
            .project-status-content {
                grid-area: stats;
                display: grid;
                grid-template-columns: 50% 50%;
                font-size: 13px;
                margin: 2%;
                
                .status-container,
                .priority-container {
                    padding: 3%;
                    border: 2px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                }
    
                .status-container {
                    display: grid;
                    grid-template-rows: repeat(7, 1fr) ;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas: 
                    'title title';
                    width: 70%;
                    font-size: 12px;

                    
                    .status-header {
                        grid-area: title;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        font-weight: 800;                      
       
                    }

                    .status-header::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 80%;
                        height: 2px;
                        background-color: rgba(231, 231, 231, 0.5);
                    }

                    .status-left,
                    .status-right {
                        padding: 0 5%;
                    }

                    .status-right {
                        display: flex;
                        justify-content: flex-end;
                    }

                }

                .priority-container {
                    display: grid;
                    grid-template-rows: repeat(7, 1fr) ;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas: 
                    'title title';
                    width: 70%;
                    font-size: 12px;
                    
                    .priority-header {
                        grid-area: title;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        font-weight: 800;                      
       
                    }

                    .priority-header::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 80%;
                        height: 2px;
                        background-color: rgba(231, 231, 231, 0.5);
                    }

                    .priority-left,
                    .priority-right {
                        padding: 0 5%;
                    }

                    .priority-right {
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }


        .project-issues-content {
            // border: 2px solid yellow;


        }

        .project-users-content {
            // border: 2px solid red;


        }


    }
}