.custom-select {
    position: relative;
    display: inline-block;
    font-size: 14px;
  }
  
  .selected-option {
    width: 75px;
    padding: 1%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.274);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .options-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    width: 50%;
    border-radius: 3px;
    padding: 1%;
  }
  
  .options-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .options-popup li {
    padding: 3%;
    cursor: pointer;
    text-align: center;
    // border: 2px solid red;
  }
  
  .options-popup li:last-child {
    border-bottom: none;
  }
  