.mod-content {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 4%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

    .mod-content::first-letter {
        text-transform: capitalize;
    }

    .headers {
        display: grid;
        grid-template-columns: 24% 24% 24% 28%;
        padding: 1%;
        font-size: 15px;
        font-weight: 600;

        .title::first-letter {
            text-transform: capitalize;
        }
    }

    .mods {
        display: grid;
        grid-template-columns: 24% 24% 24% 28%;
        padding: 1%;

        .mod-title::first-letter {
            text-transform: capitalize;
        }

        .mod-title {
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 1000px) {
    .mod-content {
        margin: 0;
    }
}

@media screen and (max-width: 500) {
    .mod-content {
        padding: 3% !important;
    }

}