.header {
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(19, 18, 18);
  z-index: 999;
}
.header .header-links {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 1%;
  height: 100%;
}
.header .header-links .search-container {
  text-align: center;
  padding: 0 1%;
}
.header .header-links .search-container .icon-container {
  display: flex;
}
.header .header-links .search-container .icon-container .search-icon {
  cursor: pointer;
  font-size: 23px;
}
.header .header-links .search-container .icon-container .search-icon:hover {
  color: rgb(86, 86, 2);
}
.header .header-links .search-bar .search-input::-moz-placeholder {
  padding-left: 5px;
  color: rgb(132, 132, 132);
  font-weight: 400;
}
.header .header-links .search-bar .search-input::placeholder {
  padding-left: 5px;
  color: rgb(132, 132, 132);
  font-weight: 400;
}
.header .header-links .search-bar .search-button {
  cursor: pointer;
  background-color: transparent;
}
.header .header-links .search-bar .search-button:hover {
  color: rgb(86, 86, 2);
}
.header .header-links .new-container {
  text-align: center;
  padding: 0 1%;
  display: flex;
  position: relative;
}
.header .header-links .new-container .new-button {
  cursor: pointer;
  padding: 2px;
  border: none;
  font-size: 17px;
  background-color: transparent;
  color: inherit;
}
.header .header-links .new-container .new-button:hover {
  color: rgb(86, 86, 2);
}
.header .header-links .new-container .new-menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  width: 125%;
  top: 120%;
  left: 0;
  background-color: white;
  z-index: 99;
  text-decoration: none;
  color: inherit;
  height: 0;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.header .header-links .new-container .new-menu-container.active {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 500%;
}
.header .header-links .new-container .new-menu-container .nav-link {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  padding: 5%;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: filter 0.3s;
  text-decoration: none;
  color: rgb(19, 18, 18);
  text-wrap: nowrap;
}
.header .header-links .new-container .new-menu-container .nav-link:hover {
  color: rgb(86, 86, 2);
  border: 1px solid rgba(86, 86, 2, 0.05);
  background-color: rgba(86, 86, 2, 0.02);
}
.header .header-links .notification-container {
  text-align: center;
  padding: 0 1%;
  display: flex;
}
.header .header-links .notification-container .notification-icon {
  cursor: pointer;
  font-size: 23px;
}
.header .header-links .notification-container .notification-icon:hover {
  color: rgb(86, 86, 2);
}
.header .header-links .view-container {
  text-align: center;
  padding: 0 1%;
}
.header .header-links .view-container .grid-container {
  display: flex;
}
.header .header-links .view-container .grid-container .grid-icon {
  cursor: pointer;
  font-size: 28px;
}
.header .header-links .view-container .grid-container .grid-icon:hover {
  color: rgb(86, 86, 2);
}
.header .header-links .view-container .list-container {
  display: flex;
}
.header .header-links .view-container .list-container .list-icon {
  cursor: pointer;
  font-size: 28px;
}
.header .header-links .view-container .list-container .list-icon:hover {
  color: rgb(86, 86, 2);
}/*# sourceMappingURL=header.css.map */