.header {
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(19, 18, 18);


    .header-links {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0 1%;
        height: 100%;

        .search-container {
            text-align: center;
            padding: 0 1%;

            .icon-container {
                display: flex;

                .search-icon {
                    cursor: pointer;
                    font-size: 23px;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }
                }
            }
        }

        .search-bar {

            .search-input {

                &::placeholder {
                    padding-left: 5px;
                    color: rgb(132, 132, 132);
                    font-weight: 400;
                }
            }
            
            .search-button {
                cursor: pointer;
                background-color: transparent;

                &:hover {
                    color: rgb(86, 86, 2);
                }
            }
        }

        .new-container {
            text-align: center;
            padding: 0 1%;
            display: flex;

            .new-button {
                cursor: pointer;
                padding: 2px;
                border: none;
                font-size: 17px;
                background-color: transparent;

                &:hover {
                    color: rgb(86, 86, 2);
                }
            }
        }

        .notification-container {
            text-align: center;
            padding: 0 1%;
            display: flex;

            .notification-icon {
                cursor: pointer;
                font-size: 23px;

                &:hover {
                    color: rgb(86, 86, 2);
                }
            }
        }

        .view-container {
            text-align: center;
            padding: 0 1%;

            .grid-container {
                display: flex;

                .grid-icon {
                    cursor: pointer;
                    font-size: 28px;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }
                }
            }

            .list-container {
                display: flex;

                .list-icon {
                    cursor: pointer;
                    font-size: 28px;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }
                }
            }
        }            
    }
}