.header {
    align-items: center;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.2), 5px 6px 12px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;

    .header-links {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 1%;
        height: 100%;

        .search-container {
            text-align: center;
            padding: 0 1%;

            .icon-container {
                display: flex;

                .search-icon {
                    cursor: pointer;
                    font-size: 23px;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }
                }
            }
        }

        .search-bar {

            .search-input {

                &::placeholder {
                    padding-left: 5px;
                    color: rgb(132, 132, 132);
                    font-weight: 400;
                }
            }
            
            .cancel-search-button {
                cursor: pointer;

                &:hover {
                    color: rgb(86, 86, 2) !important;
                }
            }
        }

        .new-container {
            text-align: center;
            padding: 0 1%;
            display: flex;
            position: relative;

            .new-button {
                cursor: pointer;
                padding: 2px;
                border: none;
                font-size: 17px;
                background-color: transparent;
                color: inherit;

                &:hover {
                    color: rgb(86, 86, 2);
                }
            }

            .new-menu-container {
                display: flex;
                flex-direction: column;
                position: absolute;
                justify-content: space-evenly;
                width: 125%;
                top: 120%;
                left: 0;
                background-color: white;
                z-index: 97;
                text-decoration: none;
                color: inherit;
                height: 0;
                overflow: hidden;
                transition: 
                height 0.5s ease-in-out,
                padding 0.5s ease-in-out;                ;

                &.active {
                    border-top: 2px solid white;
                    height: 150px;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2), 0px 6px 4px 0px rgba(0, 0, 0, 0.2);

                    &.developer {
                        height: 75px;
                    }

                    &.submitter {
                        height: 25px;
                    }                
                }

                .nav-link {
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    align-items: center;                    
                    padding: 5%;
                    font-size: 15px;
                    cursor: pointer;
                    width: 100%;
                    text-align: center;
                    transition: filter 0.3s;
                    text-decoration: none;
                    color: rgb(19, 18, 18);
                    text-wrap:nowrap;
        
                    &:hover {
                        color: rgb(86, 86, 2) !important;
                        border: 1px solid rgb(86, 86, 2, 0.05) !important;
                        background-color: rgb(86, 86, 2, 0.02) !important;
                    }
                
                }
            }
        }

        .notification-container {
            text-align: center;
            padding: 0 1%;
            display: flex;

            .notification-icon {
                cursor: pointer;
                font-size: 23px;

                &:hover {
                    color: rgb(86, 86, 2);
                }
            }
        }

        .view-container {
            text-align: center;
            padding: 0 1%;

            .grid-container {
                display: flex;

                .grid-icon {
                    cursor: pointer;
                    font-size: 28px;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }
                }
            }

            .list-container {
                display: flex;

                .list-icon {
                    cursor: pointer;
                    font-size: 28px;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }
                }
            }
        }            
    }
}

@media (max-width: 500px) {
    .view-container {
        display: none !important;
    }
    .header-links {
        padding: 0 3% !important;
    }

    .search-container,
    .search-bar,
    .new-container,
    .notification-container {
        padding: 0 3% !important;
    }

    .search-container {
        padding: 0 !important;
        margin: 0 !important;

        &.active {
            width: 100%;
        }
    }

    .search-bar {
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding: 0 !important;
    }

    .search-input {
        width: 100%;
    }

    .search-select {
        width: 50px;
    }

}