.header {
    align-items: center;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.2), 5px 6px 12px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;

    .header-links {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 1%;
        position: relative;

        .search-container {
            text-align: center;
            padding: 0 1%;

            .icon-container {
                display: flex;

                .search-icon {
                    cursor: pointer;
                    font-size: 23px;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }
                }
            }
        }

        .search-bar {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .search-input {
                margin: 0 1px;

                &::placeholder {
                    padding-left: 5px;
                    color: rgb(132, 132, 132);
                    font-weight: 400;
                }
            }
            
            .cancel-search-button {
                cursor: pointer;
                padding: 0 5px;

                &:hover {
                    color: rgb(86, 86, 2) !important;
                }
            }
        }

        .search-results-container {
            display: none;
            height: auto;
            max-height: 60vh;
            overflow: auto;
            width: 600px;
            position: absolute;
            top: 102%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 98;
            justify-content: flex-start;
            flex-direction: column;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0 0 3px 3px;
            box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.2), 5px 6px 12px 0 rgba(0, 0, 0, 0.2);
            font-size: 14px;

            &.active {
                display: flex;
            }

            
            .search-link {
                text-decoration: none;
            }

            .search-results {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: row;
                padding: 1% 2%;
                text-wrap: none;
                line-height: 22px;
                margin-bottom: 8px;
                padding-bottom: 4px;
                z-index: 98;
            }
        }

        .new-container {
            text-align: center;
            padding: 0 1%;
            display: flex;
            position: relative;

            .new-button {
                cursor: pointer;
                padding: 2px;
                border: none;
                font-size: 17px;
                background-color: transparent;
                color: inherit;

                &:hover {
                    color: rgb(86, 86, 2);
                }
            }

            .new-menu-container {
                display: flex;
                flex-direction: column;
                position: absolute;
                justify-content: space-evenly;
                width: 125%;
                top: 100%;
                left: 0;
                z-index: 97;
                text-decoration: none;
                color: inherit;
                height: 0;
                overflow: hidden;
                transition: 
                height 0.5s ease-in-out,
                padding 0.5s ease-in-out;  
                border-radius: 0 0 3px 3px;              ;

                &.active {
                    height: 150px;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2), 0px 6px 4px 0px rgba(0, 0, 0, 0.2);

                    &.developer {
                        height: 75px;
                    }

                    &.submitter {
                        height: 25px;
                    }                
                }

                .nav-link {
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    align-items: center;                    
                    padding: 5%;
                    font-size: 15px;
                    cursor: pointer;
                    width: 100%;
                    text-align: center;
                    transition: filter 0.3s;
                    text-decoration: none;
                    color: rgb(19, 18, 18);
                    text-wrap:nowrap;
        
                    &:hover {
                        color: rgb(86, 86, 2) !important;
                        border: 1px solid rgb(86, 86, 2, 0.05) !important;
                        background-color: rgb(86, 86, 2, 0.02) !important;
                    }
                
                }
            }
        }

        .notification-container {
            text-align: center;
            padding: 0 1%;
            display: flex;
            position: relative;

            .notification-icon {
                cursor: pointer;
                font-size: 23px;

                &:hover {
                    color: rgb(86, 86, 2);
                }
            }

            .notification-count {
                position: absolute;
                display: none;
                align-items: center;
                justify-content: center;
                height: 15px;
                width: 15px;
                bottom: 5%;
                right: 5%;
                border-radius: 50%;
                font-size: 10px;

                &.active {
                    display: flex;
                }
            }
        }

        .view-container {
            text-align: center;
            padding: 0 1%;

            .grid-container {
                display: flex;

                .grid-icon {
                    cursor: pointer;
                    font-size: 28px;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }
                }
            }

            .list-container {
                display: flex;

                .list-icon {
                    cursor: pointer;
                    font-size: 28px;

                    &:hover {
                        color: rgb(86, 86, 2);
                    }
                }
            }
        }            
    }
}

@media screen and (max-width: 1000px) {
    .view-container {
        display: none !important;
    }
}

@media (max-width: 700px) {

    .search-bar {
        position: static !important;
        top: auto !important;
        left: auto !important;
        transform: none !important;
    }

    .search-results-container {
        width: 100% !important;
    }
}

@media (max-width: 500px) {

    .header {
        box-shadow: none;
    }

    .header-links {
        padding: 0 3% !important;
    }

    .search-container,
    .search-bar,
    .new-container,
    .notification-container {
        padding: 0 3% !important;
    }

    .search-container {
        padding: 0 !important;
        margin: 0 !important;

        &.active {
            width: 100%;
        }
    }

    .search-bar {
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding: 0 !important;
    }

    .search-input {
        width: 100%;
    }

    .search-results-container {
        box-shadow: none !important;
    }

    .new-menu-container {
        position: fixed !important;
        display: none !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        z-index: 1000 !important;
        overflow-y: auto !important;
        width: 50% !important;
        border-radius: 3px !important;
        padding: 1% !important;
        overflow: hidden !important;

        &.active {
            display: flex !important;
            border-top: none !important;
            max-height: 150px !important;
            box-shadow: none !important;
            padding: 5% !important;

            &.developer {
                height: 75px;
            }

            &.submitter {
                height: 25px;
            }                
        }
    }

    .menu-overlay {
        
        &.active {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.274);
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}