.header-container {
    background-color: rgb(241, 241, 247);
    color: rgb(19, 18, 18);
    display: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    padding-top: 2%;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.header-links {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin-right: 20px;
            font-size: 18px;
            cursor: pointer;

            &.home {

            }

            &.page1 {
                
            }
            
            &.page1 {

            }
            
            &.page1 {

            }
            
            &.page1 {

            }
            
            &.page1 {

            }
        }
    }
}