.dashboard {

    .dashboard-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        &.active {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}