.report {
    padding: 1%;
    overflow: hidden;
    display: grid;
    height: calc(100vh - 5%);
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'report comments'
    'report attachments';
    align-items: center;
    font-size: 14px;

    .report-container {
        grid-area: report;

        .report-contents {
            display: flex;
            flex-direction: column;
            padding: 5%;
            margin: 4%;
            border: 2px solid rgba(0, 0, 0, 0.143);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            background-color: rgb(255, 255, 255);
    
            .report-details {
                display: grid;
                grid-template-columns: 25% 65% 10%;
                padding: 1%;
                border-bottom: 1px solid rgba(0, 0, 0, 0.129);

                .report-title {

                }

                .report-detail {
                    width: 100%;
                    position: relative;
                    left: -2%;
                    padding-left: 2%;
                }

                button {
                    border-radius: 5%;
                    height: 22px;
                    border: 1px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
        
                    &:hover {
                        color: rgb(86, 86, 2);
                        border: 1px solid rgb(86, 86, 2, 0.05);
                    }
                }
            }

            .report-buttons-container {
                display: flex;
                margin-top: 4%;
                align-items: center;
                justify-content: center;
    
                button {
                    margin: 0 5%;
                    width: 150px;
                    border-radius: 5%;
                    border: 2px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 12px 0 rgba(0, 0, 0, 0.19);
                    font-size: 100%;
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
    
    
                    &:hover {
                        color: rgb(86, 86, 2);
                        border: 2px solid rgb(86, 86, 2, 0.05);
                    }
                }
            }

        }

        .new-report-link-container {
            display: flex;
            justify-content: center;

            .new-report-link {
                margin: 0 5%;
                width: 150px;
                border-radius: 5%;
                border: 2px solid rgba(0, 0, 0, 0.143);
                box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 12px 0 rgba(0, 0, 0, 0.19);
                font-size: 100%;
                background-color: white;
                cursor: pointer;
                z-index: 1;
                text-decoration: none;
                color: inherit;
                text-align: center;


                &:hover {
                    color: rgb(86, 86, 2);
                    border: 2px solid rgb(86, 86, 2, 0.05);
                }                
            }
        }


    }

    .report-comments-container {
        grid-area: comments;
        height: 40vh;
        display: grid;
        grid-template-rows: 10% 10% 80%;
        margin: 2%;
        padding: 2%;
        border: 2px solid rgba(0, 0, 0, 0.143);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 255, 255);

        .report-comments-title {
            font-size: 15px;
            font-weight: 800;
        }

        .report-comments-input-container {
            position: relative;

            .report-comments-input {
                padding: 1%;
                width: 100%;
                border: none;
                box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.2), inset 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            }

            .report-comments-button {
                position: absolute;
                right: 10%;
                bottom: -110%;
                width: 9%;
                border-radius: 5%;
                border: 2px solid rgba(0, 0, 0, 0.143);
                box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 12px 0 rgba(0, 0, 0, 0.19);
                font-size: 200%;
                background-color: white;
                cursor: pointer;
                z-index: 1;
                
                &:hover {
                    color: rgb(86, 86, 2);
                    border: 2px solid rgb(86, 86, 2, 0.05);
                }
            }

        }

        .report-comments-content {
            margin-top: 5%;
            display: grid;
            grid-template-columns: 20% 40% 20% 20%;
            grid-template-rows: 25% 25% 25% 25%;
            overflow: auto;
            height: 85%;

            .report-comments-user-container,
            .report-comment-container,
            .report-comments-date-container {
                display: flex;
                align-items: center;
                justify-content: center;

                .report-comments-user,
                .report-comment {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    align-items: center;
                    flex: 1;
                    padding-left: 2%;

                    &:hover {
                        white-space: unset;
                        text-overflow: unset;
                    }
                }

                .report-comments-date {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    align-items: center;
                    flex: 1;
                    text-align: center;
                }
            }

            .report-comments-buttons-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
               
                .report-comments-button-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 50%;

                    .delete-button {
                        border-radius: 5%;
                        border: 1px solid rgba(0, 0, 0, 0.143);
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                        background-color: white;
                        cursor: pointer;
                        z-index: 1;

            
                        &:hover {
                            color: rgb(86, 86, 2);
                            border: 2px solid rgb(86, 86, 2, 0.05);
                        }
                    }
                } 
            }
        }      
    }

    .report-attachments-container {
        grid-area: attachments;
        height: 40vh;
        display: grid;
        grid-template-rows: 10% 45% 45%;
        margin: 2%;
        padding: 2%;
        border: 2px solid rgba(0, 0, 0, 0.143);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 255, 255);

        .report-attachments-title {
            font-size: 15px;
            font-weight: 800;
            z-index: 1;
            border-bottom: 1px solid rgba(0, 0, 0, 0.129);
        }

        .report-attachments-content {
            margin: 2%;
            
            .report-attachments-saved {                
                display: grid;
                grid-template-columns: 50% 50%;


                .report-attachments-saved-files {
                    cursor: pointer;
                    text-decoration: none;
                    color: inherit;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    
                    &:hover {
                        color: rgb(86, 86, 2);
                    }
                }

                .report-attachments-button-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .delete-button {
                        border-radius: 5%;
                        border: 1px solid rgba(0, 0, 0, 0.143);
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                        background-color: white;
                        width: calc(50%/2.5);
                        cursor: pointer;
                        z-index: 1;

            
                        &:hover {
                            color: rgb(86, 86, 2);
                            border: 1px solid rgb(86, 86, 2, 0.05);
                        }
                    }
                }
            }

        }

        .report-attachments-box {
            position: relative;
            padding: 4%;
            border: 2px solid rgba(0, 0, 0, 0.143);
            box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.2), inset 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            
            .report-attachments-button {
                position: absolute;
                right: 10%;
                top: -18%;
                width: 9%;
                border-radius: 5%;
                border: 2px solid rgba(0, 0, 0, 0.143);
                box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 12px 0 rgba(0, 0, 0, 0.19);
                font-size: 200%;
                background-color: white;
                cursor: pointer;
                z-index: 1;
                
                &:hover {
                    color: rgb(86, 86, 2);
                    border: 2px solid rgb(86, 86, 2, 0.05);
                }
            }
            .report-attachments-drop {
                border: 5px dotted rgba(231, 231, 231);
                border-radius: 2%;
                height: 100%;
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(231, 231, 231, 0.5);
                z-index: 0;

                &.drag-over {
                    border: 5px dotted rgb(86, 86, 2);
                }

                .report-attachments-file {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;        
                }

                .report-attachments-link {

                    label {
                        color: rgb(86, 86, 2);
                        font-weight: 500;
                        cursor: pointer;

                        &:hover {
                            font-weight: 900;
                        }
                    }
                }

                .report-attachment-file-input {
                    display: none;
                }
            }

        }

    }


}