.report {
    padding: 1%;
    overflow: hidden;
    display: grid;
    height: calc(100vh - 5%);
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'report comments'
    'report attachments';
    align-items: center;
    font-size: 14px;

    .report-container {
        grid-area: report;

        .report-return-title {
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;

            .report-icon {
                font-size: 16px;
                font-weight: 600;
            }
        }

        .report-contents {
            display: flex;
            flex-direction: column;
            padding: 5%;
            margin: 4%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    
            .report-details {
                display: grid;
                grid-template-columns: 50% 50%;
                padding: 1%;

                .report-detail {
                    width: 100%;
                    position: relative;
                    left: -2%;
                    padding-left: 2%;
                }
            }

            .report-button-container {
                display: flex;
                margin-top: 4%;
                align-items: center;
                justify-content: center;
    
                .report-delete-button {
                    margin: 0 5%;
                    width: 150px;
                    border-radius: 3px;
                    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 12px 0 rgba(0, 0, 0, 0.19);
                    font-size: 100%;
                    cursor: pointer;
                    z-index: 1;
    
    
                    &:hover {
                        color: rgb(86, 86, 2) !important;
                        border: 2px solid rgb(86, 86, 2, 0.05) !important;
                    }
                }
            }
        }
    }

    .report-comments-container {
        grid-area: comments;
        height: 40vh;
        display: grid;
        grid-template-rows: 10% 10% 80%;
        margin: 2%;
        padding: 2%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

        .report-comments-title {
            font-size: 15px;
            font-weight: 800;
        }

        .report-comments-input-container {
            position: relative;

            .report-comments-input {
                padding: 1%;
                width: 100%;
                border: none;
                box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.2), inset 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            }

            .report-comments-button {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 10%;
                bottom: -110%;
                width: 40px;
                height: 40px;
                border-radius: 3px;
                box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 12px 0 rgba(0, 0, 0, 0.19);
                font-size: 200%;
                cursor: pointer;
                z-index: 1;
                
                &:hover {
                    color: rgb(86, 86, 2) !important;
                    border: 2px solid rgb(86, 86, 2, 0.05) !important;
                }
            }

        }

        .report-comments-content {
            margin-top: 5%;
            height: 85%;
            
            .report-comment-container {
                display: grid;
                grid-template-columns: 18% 40% 24% 18%;
                padding: 1%;
                overflow: auto;

                .report-comments-user-container,
                .report-comment-content,
                .report-comments-date-container {
                    padding: 1%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    .report-comments-user,
                    .report-comment {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        align-items: center;
                        flex: 1;
                        padding-left: 2%;
    
                        &:hover {
                            white-space: unset;
                            text-overflow: unset;
                        }
                    }
    
                    .report-comments-date {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        align-items: center;
                        flex: 1;
                        text-align: center;
                    }
                }
    
                .report-comments-buttons-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                   
                    .report-comments-button-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 50%;
    
                        .delete-button {
                            border-radius: 2px;
                            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                            cursor: pointer;
                            z-index: 1;
    
                
                            &:hover {
                                color: rgb(86, 86, 2) !important;
                                border: 2px solid rgb(86, 86, 2, 0.05) !important;
                            }
                        }
                    } 
                } 
            }
        }       
    }

    .report-attachments-container {
        grid-area: attachments;
        height: 40vh;
        display: grid;
        grid-template-rows: 10% 45% 45%;
        margin: 2%;
        padding: 2%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);

        .report-attachments-title {
            font-size: 15px;
            font-weight: 800;
            z-index: 1;
        }

        .report-attachments-content {
            margin: 2%;
            
            .report-attachments-saved {                
                display: grid;
                grid-template-columns: 50% 50%;


                .report-attachments-saved-files {
                    cursor: pointer;
                    text-decoration: none;
                    color: inherit;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    
                    &:hover {
                        color: rgb(86, 86, 2);
                    }
                }

                .report-attachments-button-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .delete-button {
                        border-radius: 5%;
                        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                        width: calc(50%/2.5);
                        cursor: pointer;
                        z-index: 1;

            
                        &:hover {
                            color: rgb(86, 86, 2) !important;
                            border: 1px solid rgb(86, 86, 2, 0.05) !important;
                        }
                    }
                }
            }

        }

        .report-attachments-box {
            position: relative;
            padding: 4%;
            box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.2), inset 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            
            .report-attachments-button {
                position: absolute;
                right: 10%;
                top: -18%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 3px;
                box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 12px 0 rgba(0, 0, 0, 0.19);
                font-size: 200%;
                cursor: pointer;
                z-index: 1;
                
                &:hover {
                    color: rgb(86, 86, 2) !important;
                    border: 2px solid rgb(86, 86, 2, 0.05) !important;
                }
            }
            .report-attachments-drop {
                border-radius: 2px;
                height: 100%;
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 0;

                &.drag-over {
                    border: 5px dotted rgb(86, 86, 2) !important;
                }

                .report-attachments-file {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;        
                }

                .report-attachments-link {

                    label {
                        color: rgb(86, 86, 2);
                        font-weight: 500;
                        cursor: pointer;

                        &:hover {
                            font-weight: 900;
                        }
                    }
                }

                .report-attachment-file-input {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .report {
        display: flex;
        flex-direction: column;
        overflow: auto;
    };

    .report-container,
    .report-comments-container,
    .report-attachments-container {
        width: 100%;
    }

    .report-contents {
        margin: 0 !important;
    }


    .report-comments-container,
    .report-attachments-container {
        height: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        margin: 0 !important;
    }

    .report-attachments-title {
        border: none !important;
    }

    .report-attachments-box {
        padding: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    .report-attachments-drop {
        border: none !important;
    }
}

@media screen and (max-width: 500px) {
    .report {
        font-size: 12px !important;
    }

    .report-contents {
        padding: 3% !important;
    }

    .report-details {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
    }

    .report-detail {
        text-align: right;
    }

    .report-comments-content {
        margin: 0 !important;
    }

    .report-comments-title,
    .report-attachments-title {
        font-size: 13px !important;
    }

    .report-comments-input {
        width: 90% !important;
    }

    .report-comment-container {
        grid-template-columns: 18% 45% 24% 13% !important;
        width: 97vw;
    }
    
    .report-comments-button,
    .report-attachments-button {
        right: 0 !important;
        bottom: 0 !important;
        height: 30px !important;
        width: 30px !important;
        border: none !important;
        background: none !important;
    }

    .report-comments-date {
        font-size: 8px;
    }

    .delete-button {
        width: 20px;
    }

    .report-contents,
    .report-comments-container,
    .report-comments-input,
    .report-comments-button,
    .report-delete-button,
    .report-attachments-container,
    .delete-button,
    .report-attachments-box,
    .report-attachments-button {
        box-shadow: none !important;
    }

}