.pagination-content {
    display: grid;
    grid-template-columns: 50% 50%;

    .pagination-pages {
        display: flex;
        font-size: 12px;
        justify-content: flex-start;
        align-items: center;

        .items-per-page {
            align-items: center;
            justify-content: center;
            height: 25px;
            font-size: 12px;
            border-radius: 5%;
            border: 1px solid rgba(0, 0, 0, 0.143);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            background-color: white;
            cursor: pointer;
            z-index: 1;
            color: inherit;
            margin: 1% 2%;
            padding: 0 1%;

            &:hover {
                color: rgb(86, 86, 2);
                border: 1px solid rgb(86, 86, 2, 0.05);
            }

            &.none {
                display: none;
            }
        }

    }
    
    .pagination-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .page-button-left, 
        .page-button-right {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            font-size: 12px;
            border-radius: 5%;
            border: 1px solid rgba(0, 0, 0, 0.143);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            background-color: white;
            cursor: pointer;
            z-index: 1;
            color: inherit;
            padding: 1%;

            &:hover {
                color: rgb(86, 86, 2);
                border: 1px solid rgb(86, 86, 2, 0.05);
            }
        }

        .page-number {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            font-size: 12px;
            border-radius: 5%;
            border: 1px solid rgba(0, 0, 0, 0.143);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            background-color: white;
            z-index: 1;
            color: inherit;
            padding: 1% 2%;
            margin: 1%;
            cursor: pointer;

            &:hover {
                color: rgb(86, 86, 2);
                border: 1px solid rgb(86, 86, 2, 0.05);
            }
        }

        .page-input {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            font-size: 12px;
            width: 10%;
            border: 1px solid rgba(0, 0, 0, 0.143);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            background-color: white;
            z-index: 1;
            color: inherit;
            padding: 1% 2%;
            margin: 1%;
            cursor: pointer;
            appearance: none;
        }
    }
}