.settings {
    min-height: 100%;
    width: 100%;
    align-items: center;
    padding: 1% 0.5%;

    .settings-title {
        font-size: 15px;
        font-weight: 900;
        padding: 1%;
    }

    .settings-container {
        display: flex;
        justify-content: space-around;

        .theme-settings {

            .theme-settings-title {
                padding: 15px 0;
                font-size: 13px;
            }

            .theme-buttons-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                button {
                    border-radius: 3px;
                    padding: 0.5% 7%;
                    border: 1px solid rgba(0, 0, 0, 0.143);
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.19);
                    background-color: white;
                    cursor: pointer;
                    z-index: 1;
                    width: 120px;
    
                    &.active {
                        background-color: rgb(31, 31, 36);
                        color: white;
                    }
        
                    &:hover {
                        color: rgb(86, 86, 2) !important;
                        border: 1px solid rgb(86, 86, 2, 0.05) !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    
    .settings-title {
        display: none;
    };
}